body{
    background-color: hsl(233, 47%, 7%);
    
}

.main{
    display: flex;
    justify-content: center;
    padding: 10vw;
    justify-items: center;
    
}


.container{
    display:flex;
    justify-items: center;
    justify-content: center;    
    background-color: hsl(244, 38%, 16%);
    width: 93%;
    height: 30vw;
    
    
    
}

img{
    height: 100%;
}