body{
    background-color: hsl(233, 47%, 7%);
    
}

.main{
    display: flex;
    justify-content: center;
    padding: 9vw;
    justify-items: center;
    
}


.container{
    border-radius: 15px;
    display:flex;

    background-color: hsl(244, 38%, 16%);
    width: 70vw;
    height: 30vw;
    justify-content: space-between;
    
    
}

#image{
    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 100%;
}

.right{
    height:100%;
}



.heading{
    color: hsla(0, 0%, 100%, 0.9);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2.0833333333333335vw;
    padding:  4.166666666666667vw 2.0833333333333335vw 1.8229166666666667vw 4.6875vw;
}

#insights{
    color:hsl(277, 64%, 61%) ;
}

.line{
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.6);
    font-size: 0.8333333333333334vw;
    font-family: 'Lexend Deca', sans-serif;
    padding-left: 4.84375vw;
    line-height: 1.5104166666666667vw;
}

.activities{

    padding-top: 6.770833333333333vw;
    padding-left: 2.8645833333333335vw;
    
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    width: 25vw;
}

.numbers{
    font-family: 'Inter', sans-serif;
    color:hsla(0, 0%, 100%, 0.9); ;
    font-weight: 700;
    font-size: 1.5625vw;
    

}

.words{
    padding-left: 0.052083333333333336vw;
    display: block;
    padding-top:0.3645833333333333vw;
    font-weight: 100;
    font-family: 'Lexend Deca', sans-serif;
font-size: 0.6770833333333334vw;
letter-spacing: 0.026041666666666668vw;
    color: hsla(0, 0%, 100%, 0.6);
}
